@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;800&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  font-size: 2.7em;
  font-family: 'Source Code Pro', monospace;
  background-color: #E3B9F5;
}

.logo {
  font-size: 2.7em;
  font-weight: 800;
  background-color: #440160;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F5B506;
}

.links:hover {
  font-style: italic;
}